<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body>
    <%- include('partials/navbar'); %>
    <h1 class="center">AuctionApp</h1>
    <h2>Aplikacja służy do przeglądania przetargów oraz brania w nich udziału. Możliwości:</h2>
    <ul>
      <li><h4>przeglądanie szczegółów przetargów</h4></li>
      <li><h4>wyświetlanie zakończonych przetargów</h4></li>
      <li><h4>dodawanie nowych przetargów</h4></li>
      <li><h4>branie udziału w przetargu.</h4></li>
    </ul>
  </body>
</html>
