html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: #c0c0da;
  flex-grow: 1;
}

a {
  color: #00b7ff;
}

.center {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}
